@use '../../shared/styles/theme' as *;

.main-layout {
  min-height: 100vh;
  background-color: $bg-main;

  .layout-right {
    margin-left: $sidebar-width;
    transition: $trans-sidebar;
    min-height: 100vh;
  }

  &.sidebar-collapsed .layout-right {
    margin-left: $sidebar-collapsed-width;
  }

  .main-content {
    margin-top: 64px;
    padding: 24px;
    background-color: $bg-main;
    min-height: calc(100vh - 64px);
  }
}
