@use '../styles/theme' as *;

.main-layout {
  min-height: 100vh;
  background-color: $bg-main;

  .layout-right {
    margin-left: 280px;
    transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 100vh;
  }

  &.sidebar-collapsed .layout-right {
    margin-left: 80px;
  }

  .main-content {
    margin-top: 64px;
    padding: 24px;
    background-color: $bg-main;
    min-height: calc(100vh - 64px);
  }
}
